body,
html {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    color: #3a3a3a;
}

body {
    width: 100%;
    background: #f4f4f4;
    background-image: url("../static/bg2.jpg");
    background-position-x: -200px;
    background-position-y: 50px;
    background-repeat: no-repeat;
}

.container {
    max-width: 1280px;
    position: relative !important;
    z-index: 1;
}

.underline {
    text-decoration: none;
    position: relative;
}

.underline:before {
    position: absolute;
    content: " ";
    height: 6px;
    bottom: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    background: #ffcc33;
    z-index: -1;
}

.btn {
    background-color: #ffcc33;
    padding: 15px 30px;
    color: rgb(248, 248, 248);
    font-size: 12pt;
    letter-spacing: 1px;
    float: left;
    display: block;
    border-radius: 100px;
    transition: all 1s ease;
}

.btn span {
    font-family: "Inter", sans-serif;
    float: left;
}

.btn svg {
    float: left;
    margin-left: 1rem;
    margin-top: 8px;
}

.btn:hover {
    background-color: #ffcc66;
}